@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
	margin: 0;
	padding: 0;
	color: black;

}

#menu_topo{
	grid-area: t;
	display: flex;
	justify-content: space-between;
  position: sticky;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px 0px rgb(207, 207, 207);
  top: 0px;
  z-index: 1;
	
}
#links {
	display: flex;
	align-items: center;
	text-decoration: none;
}

#menu_topo{
	height: 42px;
	padding: 16px;
	
	
}

.item {
	padding-right: 17px;
  padding: 8px 20px;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}
.item:hover {
	background: black;
  color: aliceblue;
  border-radius: 20px;
  
}
.container {
  padding: 40px 0px;
  background-color:#7747e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem-logo {
  width: 50%;
  text-align: center;
  
}

.p-formatado {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}


header {
  grid-area: h;
}

#banner{
  width: 100%;
  height: 450px;
}

#sobre{
	height: 72px;
	padding: 56px 0px;
  text-align: center;
}


h2{
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: white;
}



form{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 45px;
  border: 1px solid white;
  border-radius: 8px;
}

input, select, textarea{
  width: 100%;
	height: 40px;
	margin-bottom: 30px;
	box-sizing: border-box;
	border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
}

label, input, select, textarea{
	font: 1rem 'Open Sans', sans-serif;
  color: black;
}

label{
  color: white;
  margin-bottom: 20px;
}

input::placeholder, textarea::placeholder {
  font: 0.8rem 'Open Sans', sans-serif;
  color: black;
  padding: 10px;
}

textarea{
	height: 100px;
}

#botoes-form{
	display: flex;
}

#enviar, #cancelar{
	margin: 0 auto;
  width: 150px;
  font: 1rem 'Open Sans', sans-serif;
	color: #fff;
  background-color: #3c04bc;
  
	border: none;
	border-radius: 10px;

  padding: 10px;

  cursor: pointer;
}

#cancelar{
  background-color: #fff;
	border: 1px solid #3c04bc;
  color: #3c04bc;
}

footer {
	background-color: #0b0b0b;
	grid-area: f;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	color: #fff;
	padding: 5px;
}

#rodape {
  font-weight: bold;
	color: white;
}
.link_rodape {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}
.link_rodape:hover{
  color: #3c04bc;
}

